/* reset do css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-attachment: fixed;
    background-image: url("../Images/backgroundop.jpg");
    background-size: cover;
    font-family: Verdana;
    height: 100vh;
    font-size: 12px;
  }
  
  /* se a tela tiver pelo menos 400px vai carregar estes estilos */
  @media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }

  /* breakpoint */
  @media (min-width: 600px) {
    body {
      font-size: 16px;
    }
  }

    /* breakpoint */
    @media (min-width: 800px) {
      body {
        font-size: 18px;
      }
    }

header {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

  .menu{
    background-color: beige;
    position: fixed;
    width: 100vw;
    top: 20px;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu a {
  display: block;
  padding: 10px 20px;
  }
  
  a {
    color: green;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    }
  
    .site-title {
      color: Green;
      text-align: center;
    }
  
    .site-title {
      font-size: 2em;
    }

  .site-subtitle {
    color: Orange;
    text-align: center;
  }
  
  .img-portfolio {
  height: 20px;
  width: 60px  
  }
